<settings>
  <profiles>
    <profile>
      <id>packages-ues21</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>packages-ues21</id>
          <url>https://packages-930137440523.d.codeartifact.us-east-1.amazonaws.com/maven/ues21/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <servers>
    <server>
      <id>packages-ues21</id>
      <username>aws</username>
      <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>packages-ues21</id>
      <name>packages-ues21</name>
      <url>https://packages-930137440523.d.codeartifact.us-east-1.amazonaws.com/maven/ues21/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

</settings>